.ads-container {
  padding: 2rem;
  flex-direction: column;
}

.ad {
  opacity: 1;
  &:hover {
    transition: 0.15s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
  }
}

#app {
  overflow: hidden;
}
