.slider {
  height: 40vh;
  width: 100%;
  background: #ddd;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .slide {
    height: 100%;
    width: 100%;
  }

  // Handles the fancy shmancy dots
  .dotsContainer {
    position: absolute;
    bottom: 7%;
    width: 100%;
    text-align: center;
    z-index: 99999;

    .dot {
      background: #222;
      padding: 0px 8px;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 120px;
    }
    .isCurrent {
      background: #fff;
    }
  }

  // Arrows
  .nextArrow {
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    transition: all ease-in 0.2s;
    color: #fff;

    &:hover {
      opacity: 0.5;
      transform: scale(1.4);
      transition: all ease-in 0.2s;
    }
  }

  .backArrow {
    position: absolute;
    top: 50%;
    left: 5%;
    cursor: pointer;
    color: #fff;

    transition: all ease-in 0.2s;

    &:hover {
      opacity: 0.5;
      transform: scale(1.4);
      transition: all ease-in 0.2s;
    }
  }
}
