.email-confirmation {
  margin-top: 100px;
}

.form-container {
  min-width: 30%;
  text-align: center;
  padding: 2rem;
  @media screen and (max-width: 1600px) {
    min-width: 50%;
  }
  @media screen and (max-width: 800px) {
    min-width: 80%;
  }
  @media screen and (max-width: 500px) {
    min-width: 100%;
  }
}

.form-title,
.form-links {
  display: flex;
  justify-content: center;
}

.form-title,
.form-content {
  padding: 10px 100px;
}

.loader {
  margin-bottom: 15px;
}

.success-message {
  color: #4caf50;
}

.error-message {
  color: #f44336;
}

.message-icon {
  width: 36px !important;
  height: 36px !important;
}
