.car-ad-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  & > * {
    text-align: start;
  }
}

.car-info {
  display: flex;
  flex-direction: row;
  & > * {
    margin-right: 100px !important;
  }
}

.infinite-scroll-container {
  text-align: center;
}

.car-ad-image {
  & img {
    height: 200px;
  }
}
