.signin-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  min-width: 30%;
  display: inline-block;
  text-align: center;
  padding: 2rem;
}

.form-content {
  & div {
    margin: 0.5rem;
  }
}

.form-input {
  display: flex !important;
}

.form-button {
  margin: 1rem;
}

.form-links {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 0.75rem;
}
