button {
  margin: 15px 0;
}

.signup-form {
  margin-top: 100px;
}

.form {
  &-container {
    min-width: 30%;
    text-align: center;
    padding: 2rem;
    @media screen and (max-width: 1600px) {
      min-width: 50%;
    }
    @media screen and (max-width: 800px) {
      min-width: 80%;
    }
    @media screen and (max-width: 500px) {
      min-width: 100%;
    }
  }

  &-title,
  &-links {
    display: flex;
    justify-content: center;
  }

  &-title,
  &-content {
    padding: 10px 100px;
  }

  &-field {
    flex: 1;
  }

  &-control {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.6rem;
  }
}

.hint {
  position: absolute;
}

.submit-icon {
  margin-left: 5px;
  margin-right: 5px;
}
