@import '../node_modules/bulma/css/bulma.css';
@import '../node_modules/font-awesome/less/font-awesome.less';

html {
  // background-color: #4c5769;
  // background-color: #f9f9f9;
  background-color: #282834;
}

body {
  color: #95989a;
  min-height: 100vh;
}
